<div class="sg_image">
    <a href="javascript:void(0)" class="del" title="{{sgLang.delete}}"></a>
    <img title="{{data.sg_description}}" src="{{thumbPrefix}}{{data.sg_image}}">
    <div class="name{{data.sg_isactive}}">{{data.sg_title}}</div>
</div>