<div id="rteForm">
    <div style="width:600px;">
        <textarea id="rteField" style="width:99%;height:400px;">{{textarea}}</textarea>
    </div>
    <div style="clear:both;padding:10px;float:right;">
        <div id="rteSave" class="btn btn-right">
            <div class="btn-text">
                <img src="{{modxTheme}}/images/icons/save.png">
                {{sgLang.save}}
            </div>
        </div>
        <div id="rteCancel" class="btn btn-right">
            <div class="btn-text">
                <img src="{{modxTheme}}/images/icons/stop.png">
                {{sgLang.cancel}}
            </div>
        </div>
    </div>
</div>